h1{
    color: blue;
}

h2,p,.item{
    text-align:center;
}

.header{
    background-color : green;
    display:flex;
    justify-content:space-between;

}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.menu{
    margin-right:30px;
    padding-top:30px;
}

.footer{
    display:flex;
    justify-content:flex-end;
}

body{
    background-color:#808080;
}

a:link{
    color:red;   
}

a:visited{
   color:blue;
}

.item{
    position:relative;

}

.item h4{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.item:hover h4{
    opacity:1;
}

.item:hover img{
    opacity:0.33;
}

h3{
    margin-top:200px;
}
